@font-face {
  font-family: 'frutiger';
  src: URL('../css/frutiger-lt-arabic-45-light.ttf') format('truetype');
}


body, html {
  width: 100%;
  height: 100%;
}
#wrapper {
  width: 100%;
}

/*....... welcome page css........*/
#welcome{
width: 100%;
height: 100%;
/* background-image: url(../images/fd.png); */
background: #120F26;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.none{
display: none !important;


}
#wrapper {
  display: table; 
  height: 70%;
  width: 100%;
}

#main {
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}

.footer {
  background-color: #299688;
  width: 100%;
  bottom: 0;
  padding-top: 1em;
  position: absolute; 
  }

.color-copyright {
background-color: #1e786d;
position: relative;
bottom: 0;
}

.btn-space {
margin: 10px;
}


/*....... END welcome page css........*/
/*....... board page css........*/

#changeImage1{
cursor: pointer;
}
#container1{
height: 100vh;
width: 55%;
position: relative;
margin-left:auto;
margin-right: auto;
background-image: url('../images/cover-board.jpg'); 
background-repeat: no-repeat;
border-radius: 15px; 
-webkit-box-shadow: 5px 7px 65px 43px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 7px 65px 43px rgba(0,0,0,0.75);
box-shadow: 5px 7px 65px 43px rgba(0,0,0,0.75);
}

#board{
background-image: url('../images/cover.jpg'); 
background-position: center;
background-size: cover;
background-repeat: no-repeat;

}




/* Container for Modal Control + Modal Control */

._demo-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*._modal-control {
  padding: 1rem;
  border: 1px solid #521751;
  text-align: center;
} */


/* The Modal */
._modal1 {
  display: none;
  position: fixed;
  z-index: 200;
  top: 5em;
  left: 40%;
  width: 20%; 
  height: 30%;
  background: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}



._quote {
  font-family: 'frutiger';
  font-size: 2.5vh;
  text-align: center;
  padding: 2em; 
}





._modal-actions {
  text-align: right;
}

._close1 {
  position: absolute;
  background: red;
  color: white;
  top: -10px;
  right: -10px;
  border: 1px solid white;
  border-radius: 30px;
  line-height: 10px;
  padding: 17px 10px; 
  font-size: 35px;
  align-content: center;
  font-weight: bold;
}


._backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  font-family: 'frutiger';
}

._backdrop2 {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}


.open {
  display: block;
}

/* Notification */




  /* Trade modal */ 

  ._modal3 {
  display: none;
  position: fixed;
  z-index: 200;
  margin-top: 15%; 
  left: 40%;
  width: 18%; 
  background: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 10px;
}

._modal-input3 {
  margin: auto; 
  text-align: center;
  font-size: 1.8rem; 
}

._modal3 h1 {
  color:black;
  font-size: 1.2rem;
}


._modal-actions3 {
  text-align: right;
}


  /* Accept trad modal */


._modal2 {
  display: none;
  position: fixed;
  z-index: 200;
  top: 30%;
  left: 30%;
  width: 35%;
  background: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 20px;
}

._modal2 h1 {
  color:black;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

._modal-input2 {
  margin: 0.5rem 0;
}


._modal-actions2 {
  text-align: right;
}




/* Menu board */
#menu-board {
  position: absolute;
  margin-top: auto; 
  margin-left: 10px; 
}

#menu-board2 {
  position: absolute;
  right: 30px;
}








/* Players grid */ 


* {box-sizing: border-box;}

.player-section {
  /* border: 2px solid #f76707; */ 
  border-radius: 5px;
  width: 200px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.grid-container {
  display: grid;
  height: 25%;
  grid-template-columns: auto auto;
  justify-content: space-around; 
  grid-column-gap: 10px; 
  padding-top: 20px;  
}

.grid-container2 {
  display: grid;
  height: 45%;
  grid-template-columns: auto auto;
  justify-content: space-around; 
  grid-column-gap: 40%; 
  padding-top: 100px;
}


.player{
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(90deg);

}

.player > div{
    border: 2px solid #ffa94d;
    border-radius: 10px;
    background-color: green;
    padding: 1em;
    color: tomato;
    flex: 1 1 500px;
}


.image-player{
  width: 100px; 
  height: 100px;
  position: absolute;
  background-color: transparent;
  top:-30px;
  right: -15px;
}



/* Own player grid */ 


.own-player{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    background-color: transparent;
    margin-bottom: auto;
}

.own-player > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 10px;
}

.item1{
    grid-row: 1 / span 2; 
    position: relative;
}

.pic-scen{
  width: 300px; 
  height: 100px;
}

/* Avatar choice */ 

.avatar {
  margin-top: 5%;
  display: block;
  position: absolute;
  margin-left: 25%;
}

.mySlides {
  width: 700px;
  height: 500px;
  border-radius: 20px;
  background: rebeccapurple;
  position: absolute;
}


.top-title {
  position: fixed;
  text-align: center;
  color: white;
  margin-left: 20%;
  font-size: 35px;
  margin-top: -50px;

}

.button-display-left {
  position: fixed;
  margin-top: 200px;
  width: 50px; 
  height: 100px;
}

.button-display-right {
  position: fixed;
  margin-top: 200px;
  margin-left: 650px;
  width: 50px; 
  height: 100px;
}

.appliquer-button {
  position: relative;
  margin-top: 500px;
  margin-left: 300px;
  width: 100px; 
  height: 50px;
}

._backdropx {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
  font-family: 'frutiger';
}



/* 3D animations */ 

.container {
  height: 200px;
  width: 500px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
  margin: auto;
  background:transparent; 
}

.card {
  display: flex;
  height: 150px;
  width: 150px;
  background-color: #17141d;
  border-radius: 20px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin: auto;
  margin-bottom: 0;
}

.image-bagde-class {
  position: absolute;
  margin-top: -5em; 
  margin-left: 45%; 
}

.player-one {
  position: absolute; 
  transform: rotate(180deg);
  margin-left: 27%; 
  padding-top: 8em; 
}

.player-two {
  position: absolute; 
  transform: rotate(180deg);
  margin-left: 70%; 
  padding-top: 8em; 
}

.player-three {
  position: fixed; 
  transform: rotate(90deg); 
  padding-top: 8em; 
  margin-left: 8%; 
  padding-left: 10px;
}

.player-four {
  position: fixed; 
  transform: rotate(-90deg); 
  margin-left: 45%; 
  padding-top: 5em; 
  padding-left: 10px;
}



.player-one > img {
  width: 60px; 
  height: 60px;
}

.player-two > img {
  width: 60px; 
  height: 60px;
}

.player-three > img {
  width: 60px; 
  height: 60px;
}

.player-four > img {
  width: 60px; 
  height: 60px;
}
/* Notification */

.badge {
  display: none;
  position: absolute;
  top: -20px;
  right: 15px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 1.8em
}

.badgeResponse {
  display: none;
  position: absolute;
  top: -20px;
  right: 65px;
  padding: 0px 10px;
  border-radius: 50%;
  background-color: yellowgreen;
  color: black;
  width: 40px;
  height: 40px;
  font-size: 1.8em; 
  font-weight: bold;

}


.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 60px;
  display: table; 
}



.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}


.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}


/* 3D animations player-section */

.container-player-section {
  height: 100px;
  width: 300px;
  left: calc(50% - 300px);
  display: flex;
}


#container-reverse-right {
  transform: rotate(-270deg); 
}

#container-reverse-left {
  transform: rotate(90deg); 
}


.card-player-section {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: #17141d;
  border-radius: 20px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin: auto;
  flex-direction: column-reverse;
  transform: rotate(180deg); 
}


.card-player-section:not(:first-child) {
    margin-left: -50px;
}

.card-player-section:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  transform: rotate(Odeg); 
}

.card-player-section:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 10px;
  display: table; 
}



.card-player-section:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}


.card-player-section:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}


/* C card */ 
.card-player-section-c {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: #17141d;
  border-radius: 20px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin: auto;
  flex-direction: column-reverse;
}
.card-player-section-c:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  transform: rotate(-90deg);
}
.card-player-section-c .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
.card-player-section-c:not(:first-child) {
  margin-left: -50px;
}
.card-player-section-c:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}
/* End C card */ 


/* D card */
.card-player-section-d {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: #fff4e6;
  border-radius: 20px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin: auto;
  flex-direction: column-reverse;
  transform: rotate(180deg);
}
.card-player-section-d:not(:first-child) {
  margin-left: -50px;
}
.card-player-section-d:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  transform: rotate(270deg);
}
.card-player-section-d:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}
.card-player-section-d:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}
/* End D card */


/* Color cards */
.card-scenario {
  background: #8C2324; 
}

.paquet-scenario {
  background: #8C2324; 
}

.card-risk {
  background: #101940; 
}

.paquet-risk {
  background: #101940; 
}
.card-outil {
  background: #4ebfd9; 
}

.paquet-outil {
  background: #4ebfd9; 
}



/* Distribution */ 

.card-scenario {
  display: none; 
}

.card-risk {
  display: none; 
}

.card-outil {
  display: none; 
}

.box{
  width: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  position: fixed;
  margin-top: 30px;
  margin-left: -70px; 
  right: -100px;
}
.paquet{
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.paquet:before, .paquet:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: 0.5s;
  z-index:-1;
  background: #8C2324;
}


.paquet:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}



.paquet:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}


.paquet-risk:before, .paquet-risk:after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: 0.5s;
  z-index:-1;
  background: #101940;
}

.paquet-outil:before, .paquet-outil:after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: 0.5s;
  z-index:-1;
  background: #4ebfd9;
}


/* Content */

.bottom-pop-trade-risk {
	width: 100%;
  overflow:hidden;
	position:absolute;
	background-color:#E0635F;
	color: #FFF;
  bottom: -250px; 
}

._backdrop .bottom-pop-trade-risk {
  height:40%;
}

._backdrop .bottom-pop-new-card {
  height:50%;
}

._backdrop .bottom-pop-new-card-response {
  height:50%;
}

.bottom-pop-new-card {
width: 100%;
overflow:hidden;
position:absolute;
background-color:#E0635F;
color: #FFF;
bottom: -250px; 
}

.bottom-pop-new-card-response {
  width: 100%;
  overflow:hidden;
  position:absolute;
  background-color:#E0635F;
  color: #FFF;
  bottom: 0; 
  }

.bottom-pop-choice {
  width: 100%;
  height: 100%;
  overflow:hidden;
	position:absolute;
	background-color:#E0635F;
	color: #FFF;
  bottom: 0; 
}

.bottom-pop-new-card-response-no {
  width: 100%;
  height: 100%;
  overflow:hidden;
	position:absolute;
	background-color:#E0635F;
	color: #FFF;
  bottom: 0; 
}

.bottom-pop-response-validation {
  width: 100%;
  height: 100%;
  overflow:hidden;
	position:absolute;
	background-color:#E0635F;
	color: #FFF;
  top: 0; 
}



.bottom-pop-choice .btn {
  margin: 1em;
  right: 0;
  position: absolute;
}

.btn-comment-trade {
  right: 7.5em;
  margin: 1.3em;
  position: absolute;
}

.btn-comment-trade-no {
  right: 35%;
  margin: 1.3em;
  position: absolute;
  font-weight: bold;
}

._backdrop .bottom-pop-choice {
    height:10%;
}

._backdrop .bottom-pop-new-card-response-no {
  height:10%;
}

._backdrop .bottom-pop-response-validation {
  height:12%;
}




.bottom-pop-trade-evaluation-risk {
	width: 100%;
  overflow:hidden;
	position:absolute;
	background-color:#E0635F;
	color: #FFF;
  bottom: -250px; 
}

._backdrop .bottom-pop-trade-evaluation-risk {
    height:40%;
}

.bottom-pop-choice-prof {
  width: 100%;
  overflow:hidden;
	position:absolute;
	background-color:#E0635F;
	color: #FFF;
  bottom: 0; 
}

.bottom-pop-choice-prof .btn {
  margin: 1em;
  right: 0;
  position: absolute;
}

.btn-comment-replace {
  right: 7.5em;
  margin: 1.3em;
  position: absolute;
}


._backdrop .bottom-pop-choice-prof {
    height:10%;
}


.bottom-pop-validation-risk {
	width: 100%;
  overflow:hidden;
	position:absolute;
	background-color:#E0635F;
	color: #FFF;
  bottom: -250px; 
}

._backdrop .bottom-pop-validation-risk {
  height:50%;
}

.bottom-pop-final-validation {
	width: 100%;
  overflow:hidden;
	position:absolute;
	background-color:#E0635F;
	color: #FFF;
  bottom: -250px; 
}

._backdrop .bottom-pop-final-validation {
    height: 60%;
}

/*-------------------*/

.card-container-portfolio {
  display: grid; 
  grid-template-columns: auto auto auto; 
  grid-gap: 30px; 
  font-family: 'frutiger','Open Sans', sans serif;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin-left: auto; 
  margin-right: auto; 
  perspective: 1400px;
  padding-left: 100px;
}

.card-container-portfolio-new-card {
  display: grid; 
  grid-template-rows: auto auto;
  font-family: 'frutiger','Open Sans', sans serif;
  font-size: 20px;
  font-weight: bold;
  perspective: 1400px;
  text-align: center; 
  margin: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 1em; 
}

.card-container-portfolio-new-card-response {
  display: grid; 
  grid-template-rows: auto auto;
  font-family: 'frutiger','Open Sans', sans serif;
  font-size: 20px;
  font-weight: bold;
  perspective: 1400px;
  text-align: center; 
  margin: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 1em; 
}

.margin-auto {
  margin: auto;
}

.card-container-portfolio-evaluation-risk {
  display: grid; 
  grid-template-columns: auto auto auto; 
  grid-gap: 30px; 
  font-family: 'frutiger','Open Sans', sans serif;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin-left: auto; 
  margin-right: auto; 
  perspective: 1400px;
  padding-left: 100px;
}

.card-container-portfolio-validation {
  display: grid; 
  grid-template-columns: auto auto auto auto; 
  grid-gap: 50px; 
  font-family: 'frutiger','Open Sans', sans serif;
  font-size: 20px;
  font-weight: bold;
  width: 90%;
  height: 100%;
  margin-left: auto; 
  margin-right: auto; 
  perspective: 1400px;
}

.card-container-portfolio-final-validation {
  display: grid; 
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;  
  grid-gap: 50px; 
  font-family: 'frutiger','Open Sans', sans serif;
  font-size: 20px;
  font-weight: bold;
  width: 90%;
  height: 60%;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 2em;
  perspective: 1400px;
}

.item-item-item {
  grid-column: 1/5;
  grid-row: 1/3
}

#trade-paragraphe {
  margin: auto; 
  text-align: right; 
}


.card-portfolio {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transform-style: preserve-3d;
    margin-top: auto; 
    margin-bottom: auto; 
}

.back:hover {
box-shadow: 0 0 10px 100px rgb(128, 224, 134) inset;
}

.front,
.back {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front
{
  color: #fff;
  background: #101940;
  font-size: 50px; 
}

.back
{
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  color: black;
  background: #fff;
  font-size: 30px; 
}

.crt-scenario {
  font-size: 8px; 
  padding: 1em; 
  text-align: center;
}

.crt {
  font-size: 20px;
  padding: 1em; 
  text-align: center;
}

.selected {
  background:#45B24D;
}


.card-container-portfolio-validation .front-scenario {
  background:#8C2324 ;
}

.card-container-portfolio-final-validation .front-scenario {
  background:#8C2324 ;
}

.card-container-portfolio-final-validation .front-outil {
  background: #4ebfd9; 
}




